
LaTeX_Plos/PlosOne.upa
LaTeX_Plos/PlosOne.synctex.gz
LaTeX_Plos/PlosOne.pdf
LaTeX_Plos/PlosOne.out
LaTeX_Plos/PlosOne.log
LaTeX_Plos/PlosOne.aux
.DS_Store
LaTeX_Plos/Response Letter1.upa
LaTeX_Plos/Response Letter1.upb
LaTeX_Plos/Response Letter1.synctex.gz
LaTeX_Plos/Response Letter1.pdf
LaTeX_Plos/Response Letter1.out
LaTeX_Plos/Response Letter1.log
LaTeX_Plos/Response Letter1.aux
